<div class="masthead masthead-home bg-white">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12 col-xl-6">
        <h1><span class="text-primary">Crowdsourcing AI</span> to solve real-world problems</h1>
        <p>AIcrowd enables data science experts and enthusiasts to collaboratively solve real-world problems, through challenges. <%= link_to "Organize a Challenge", landing_page_host_path %></p>
      </div>

      <% if @partners.present? %>
        <div class="col-lg-12 col-xl-6">
          <div class="logos-organizers">
            <% @partners.each_with_index do |partner,index| %>
            <div class="logo-organizer">
              <%= image_tag partner.image_file.url, class: "img-fluid" %>
            </div>
            <% end %>
          </div>
        </div> 
      <% end %>
    </div>
  </div>
</div>


<!-- section -->
<section class="section-p-md bg-light">

  <!-- challenge cards -->
  <div class="container-fluid">
    <div class="row">

      <!-- section header -->
      <div class="col-12">
        <header class="section-header-decorative">
          <div>
            <h4>Featured challenges</h4>
          </div>

          <%= link_to 'See all',
            challenges_path,
            class: "btn btn-secondary btn-sm" %>

        </header>
      </div>
      <!-- /section header -->
      <%= concept(Challenge::Cell::ListDetail, collection: @challenges, current_participant: current_participant) %>
    </div>    
  </div>
</section>


<!-- 
<div class="content">
  <div class="row">
    <h1>Crowdsourcing AI<br/> to solve real-world problems</h1>
    <p class="large">AICrowd enables data science experts and enthusiasts to collaboratively solve real-world problems, through challenges.</p>
  </div>

  <div class="row button-group">
    <% if current_participant %>
      <%= link_to "Host a Challenge",
            landing_page_host_path,
            class: 'btn btn-primary btn-large' %>
    <% else %>
      <%= link_to "Sign up",
            new_participant_registration_path,
            class: "btn btn-primary btn-large" %>
      <%= link_to "Host a Challenge",
            landing_page_host_path,
            class: 'btn btn-secondary btn-large' %>
    <% end %>
  </div>

  <% if @partners.present? %>
    <div class="row">
      <div class="section-header">
        <h6>Some of our users</h6>
        <%#= link_to 'See all', '#', class: 'btn btn-secondary' %>
      </div>

      <div class="grid-users">
        <% @partners.each_with_index do |partner,index| %>
          <%= image_tag partner.image_file.url, class: users_group(index) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @blog_posts.present? %>
    <div class="row">
      <div class="section-header">
        <h6>Blog</h6>
        <%= link_to 'See all', blogs_path, class: 'btn btn-secondary' %>
      </div>

      <div class="grid-blog-previews">
        <% @blog_posts.each do |post| %>
          <%= render partial: 'blog_post', locals: { post: post } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="section-header">
      <h6>Featured Challenges</h6>
      <%= link_to 'See all',
            challenges_path,
            class: "btn btn-secondary" %>
    </div>

    <ul class="list-challenges">
      <%= concept(Challenge::Cell::ListDetail, collection: @challenges, current_participant: current_participant) %>
    </ul>
  </div>
</div>
 -->